:root{ 
    --bottom-navs-width
}
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');




    
.menu {
      
      text-align:center;
    
      transition: top 0.3s ease-in-out;
    }

    .menu.open {
      left: 0;
    }
 
*{
    color:rgb(200,230,200);
     background-color:rgb(00,00,20);
     font-family: 'Poltawski Nowy', serif;
    max-width:100vw;
    max-height:100vh;
}
body { 
   
background-color:#b9f;
overflow: hidden;
 height: 100vh;


  display: flex;
  align-items: center; justify-content: center;
  
  
 
 }
 main {
  overflow-y: auto; 
  }
  aside { 
  flex: 1 0 10%;
   }
   .wrapper-inner{
       height: 90vw;
       top:0;
       
   }
    .wrapper { 
    display: flex;
     height: 100%;
      }
      
      
      /*@media (max-width: 500px){*/ 
      .wrapper { 
      flex-direction: column; 
      } 
      ul {
      background-color:pink;
      height:7vh;
      position:sticky;
      bottom:0;
       display: flex;
       align-items: center; 
      justify-content: space-between; 
      padding:0;
      margin:0;
      }
      ul li{
      text-align:center;
          width:calc(100vw/3);
          border:1px solid red;
          margin:0;
          height:100%;
      }
       }
       
       /* (X) DOES NOT MATTER */
/* ENTIRE PAGE */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

/* WIDGET WRAPPER */
.widget-wrap {
  width: 500px;
  padding: 20px;
  
  ;
}
.widget-wrap label, .widget-wrap input, .widget-wrap select {
  display: block;
  width: 100%;
  padding: 5px;
}
div,body,html{
width:100%;
}
.clickMe, .clickMe::active{
    border:3px solid rgb(200,200,210);
        padding-bottom:20px;
    }
